manifest {
    name            = 'STTLab/ViroWatch'
    author          = 'STTLab'
    description     = 'HIV-1 ONT genome surveillance pipeline'
    homePage        = 'https://github.com/STTLab/ViroWatch'
    version         = '0.1.0'
    nextflowVersion = '!>=23.10.0'
}

params {
    // Required
    input   = null
    ref_fa  = "${projectDir}/assets/refs/CRF01_AE.fa"
    ref_gff = "${projectDir}/assets/refs/CRF01_AE.gff"
    outdir  = './results'

    // Optional BLAST DBs (both disabled by default)
    blast_db    = null   // LosAlamos HIV DB
    core_nt_db  = null   // NCBI core_nt (requires BLASTDB env var pointing to taxdb)

    // Read filtering
    chopper_q      = 10
    chopper_minlen = 2000
    chopper_maxlen = 6000

    // Medaka model
    medaka_model = 'r1041_e82_400bps_sup_v5.2.0'

    // Resource caps
    max_memory = '64.GB'
    max_cpus   = 16
    max_time   = '48.h'
}

conda.enabled = true

workDir = "${projectDir}/work"

includeConfig 'conf/base.config'

profiles {
    test {
        params.input    = "${projectDir}/assets/samplesheet_test.csv"
        params.ref_fa   = "${projectDir}/assets/refs/CRF01_AE.fa"
        params.ref_gff  = "${projectDir}/assets/refs/CRF01_AE.gff"
        params.outdir   = './results_test'
    }
}
